.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 150px;
}

.nav-items{
    margin-left: auto;
}

.nav-items > ul {
    display:  flex;
}

.nav-items > ul > li {
    margin: 20px;
}

.res-card {
    background-color:azure;
    height: auto;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
/*     
    display: flex;
    justify-content: center; */
    /* align-items: center; */
}

.res-card > h3 {
    text-align: center;
}

.res-container {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

.res-card > h4 {
    padding: 0px 5px;
}

.card-img {
    width: 90%;
    display: block;
    margin: auto;
    padding: 5px;
}

.thala{
    display: flex;
}